<a href="https://colab.research.google.com/github/Pornphankub/dataviz2025/blob/main/Dictionary_Function_Loop_Condition_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

HW1 note

In [ ]:
inp = '12:30:15-13:41:07'
inp_list = inp.split('-')
inp_list

['12:30:15', '13:41:07']

# Dictionary

In [ ]:
dict_a = {'abc':123,'def':456,'ghi':789}
dict_a

{'abc': 123, 'def': 456, 'ghi': 789}

In [ ]:
dict_a['def']

456

In [ ]:
dict_b = {}

In [ ]:
dict_b['a'] = 123

In [ ]:
dict_b

{'a': 123}

## การaddสมาชิกเข้าไปใน dict

In [ ]:
if 'b' not in dict_b:
    dict_b['b'] = 123

In [ ]:
dict_b

{'a': 123, 'b': 123}

# Function

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

In [ ]:
def print_myname():   # ตัวอย่าง function ที่ไม่มีทั้ง input และ output
    print('Pornphan')

In [ ]:
print_myname()

Pornphan

In [ ]:
def print_fullname(surname,ID,name):        # ตัวอย่าง function ที่ มี input หลายตัว กับ output 1 ตัว
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print_fullname('อินทระ','66xxxxxx','ธนพงศ์')

'ชื่อ ธนพงศ์ นามสกุล อินทระ รหัส 66xxxxxx'

In [ ]:
print_fullname(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_name2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

### ข้อแตกต่างระหว่าง function ที่มีและไม่มี output

In [ ]:
out_printname1 = print_name(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2') # มี output
print(out_printname1)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

In [ ]:
out_printname1

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

In [ ]:
out_printname2 = print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')  # ไม่มี output
print(out_printname2)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
None

In [ ]:
out_printname2

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับ input ของฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8','A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย','613020551-8',grade = 'A')

ชื่อ ธันยาการต์ นามสกุล พวงมาลัย รหัส 613020551-8
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('ธันยาการต์','พวงมาลัย')

TypeError: print_2lines_default() missing 1 required positional argument: 'ID'

# Quiz6
เขียน function ที่รับ input 1 ตัว ตาม format hh1:mm1:ss1 - hh2:mm2:ss2 และคำนวณหา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 โดยยังไม่ต้องสนใจว่า time2 สามารถข้ามไปอีกวันได้

In [ ]:
def cal_dif_secs(timeinput):
    timelist = timeinput.split('-')
    time1 = timelist[0].split(':')
    time2 = timelist[1].split(':')
    time1_sec = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
    time2_sec = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])
    dif_sec = time2_sec - time1_sec
    return dif_sec

In [ ]:
cal_dif_secs('12:30:15-13:41:07')

4252

In [19]:
# promt : จากอันนี้ถ้าชั้นต้องการแก้ให้ฟังก์ชั่นง่ายขึ้นโดยถ้าหากเป็นวันเดียวกันให้เขาไม่ต้องกรอกเลย หรือกรอกแค่ครั้งเดียวได้ไหมจ้ะ
# กำหนดลำดับของวันในสัปดาห์และค่าเป็นวินาที
day_seconds_offset = {
    'Monday': 0 * 24 * 3600,
    'Tuesday': 1 * 24 * 3600,
    'Wednesday': 2 * 24 * 3600,
    'Thursday': 3 * 24 * 3600,
    'Friday': 4 * 24 * 3600,
    'Saturday': 5 * 24 * 3600,
    'Sunday': 6 * 24 * 3600
}

# จำนวนวินาทีในหนึ่งวัน
SECONDS_PER_DAY = 24 * 60 * 60

# --- ฟังก์ชันสำหรับคำนวณช่วงเวลาเป็นวินาที (ปรับปรุงใหม่) ---
def calculate_period_in_seconds(period_str):
    """
    คำนวณช่วงเวลาเป็นวินาทีจากสตริงที่กำหนด โดยไม่ใช้ datetime library
    และจัดการกรณีที่เวลาข้ามสัปดาห์ หรือเป็นวันเดียวกัน

    รองรับรูปแบบ:
    "HH:MM:SS, Day - HH:MM:SS, Day" (ข้ามวัน/สัปดาห์)
    "HH:MM:SS - HH:MM:SS, Day" (วันเดียวกัน, ระบุวันแค่ครั้งเดียว)
    """

    # แยก start และ end string ออกจากกัน
    parts = period_str.split(' - ')
    start_str_full = parts[0].strip()
    end_str_full = parts[1].strip()

    # แยกเวลาและวันสำหรับจุดเริ่มต้น
    # เช็คว่ามีคอมม่า (,) เพื่อแยกวันหรือไม่
    if ',' in start_str_full:
        time_s, day_s = start_str_full.split(', ')
    else:
        # ถ้าไม่มีคอมม่า แสดงว่าเป็นแค่เวลา (จะถูกกำหนดวันจาก end_str_full ในภายหลัง)
        time_s = start_str_full
        day_s = None # กำหนดเป็น None ไว้ก่อน

    h_s, m_s, sec_s = map(int, time_s.split(':'))

    # แยกเวลาและวันสำหรับจุดสิ้นสุด
    if ',' in end_str_full:
        time_e, day_e = end_str_full.split(', ')
    else:
        # ถ้าไม่มีคอมม่า แสดงว่าเป็นแค่วัน หรือเวลาเดียวกัน
        time_e = end_str_full
        # หาก day_e ไม่มีค่า แสดงว่าเป็นวันเดียวกับ day_s
        # แต่ในกรณีนี้ day_s จะเป็น None ถ้า start_str_full ไม่มีวัน ดังนั้นเราต้องระวัง
        # เราจะตั้งค่า day_e เป็น None ไว้ก่อนแล้วจัดการในขั้นตอนต่อไป
        day_e = None

    h_e, m_e, sec_e = map(int, time_e.split(':'))

    # --- การจัดการวันเดียวกัน ---
    # ถ้า day_s หรือ day_e เป็น None แสดงว่าผู้ใช้กรอกวันแค่ครั้งเดียว
    # ให้ถือว่าเป็นวันเดียวกันทั้งหมด
    if day_s is None and day_e is not None: # ถ้า start_str ไม่มีวัน แต่ end_str มี
        day_s = day_e # ให้วันเริ่มต้นเป็นวันเดียวกับวันสิ้นสุด
    elif day_e is None and day_s is not None: # ถ้า end_str ไม่มีวัน แต่ start_str มี
        day_e = day_s # ให้วันสิ้นสุดเป็นวันเดียวกับวันเริ่มต้น
    elif day_s is None and day_e is None:
        # กรณีที่ไม่มีการระบุวันเลย (ซึ่งไม่ควรเกิดขึ้นสำหรับโจทย์นี้)
        # อาจจะต้องเพิ่มการแจ้งเตือนหรือค่าเริ่มต้น
        raise ValueError("ต้องระบุวันอย่างน้อยหนึ่งครั้งในรูปแบบ 'HH:MM:SS, Day - HH:MM:SS' หรือ 'HH:MM:SS - HH:MM:SS, Day'")

    # แปลงเวลาเริ่มต้นทั้งหมดเป็นวินาที นับจากวันจันทร์ 00:00:00 ของสัปดาห์สมมติ
    start_total_seconds = day_seconds_offset[day_s] + \
                          (h_s * 3600) + (m_s * 60) + sec_s

    # แปลงเวลาสิ้นสุดทั้งหมดเป็นวินาที นับจากวันจันทร์ 00:00:00 ของสัปดาห์สมมติ
    end_total_seconds = day_seconds_offset[day_e] + \
                        (h_e * 3600) + (m_e * 60) + sec_e


    # ตรวจสอบว่า "วัน" ที่แยกได้จากข้อความเป็นวันเดียวกันจริงหรือไม่
    # และเวลาเริ่มต้นมากกว่าเวลาสิ้นสุด
    is_same_day = (day_s == day_e)
    is_same_day_but_time_crosses_midnight = is_same_day and (
        h_e < h_s or
        (h_e == h_s and m_e < m_s) or
        (h_e == h_s and m_e == m_s and sec_e < sec_s)
    )

    if end_total_seconds < start_total_seconds:
        # ถ้าเป็นวันเดียวกันแต่เวลาข้ามเที่ยงคืน (เช่น 23:00 - 01:00 ของวันเดียวกัน)
        if is_same_day_but_time_crosses_midnight:
            end_total_seconds += SECONDS_PER_DAY # เพิ่มไป 1 วัน
        else: # กรณีข้ามวันหรือข้ามสัปดาห์
            end_total_seconds += (7 * SECONDS_PER_DAY) # เพิ่มไป 1 สัปดาห์ (7 วัน)

    # คำนวณผลต่างของเวลาเป็นวินาที
    time_difference_in_seconds = end_total_seconds - start_total_seconds

    return time_difference_in_seconds

# -----------------------------------------------------------------

print("--- ผลลัพธ์การคำนวณช่วงเวลา ---")

# --- ตัวอย่างการใช้งาน (วันเดียวกัน) ---
period_1_str = "10:00:00 - 15:30:00, Friday"
print(f" ช่วงเวลา: {period_1_str}")
seconds_1 = calculate_period_in_seconds(period_1_str)
print(f"   ระยะเวลาทั้งหมด: {seconds_1:,} วินาที")
print("-" * 30)

--- ผลลัพธ์การคำนวณช่วงเวลา ---
 ช่วงเวลา: 10:00:00 - 15:30:00, Friday
   ระยะเวลาทั้งหมด: 19,800 วินาที
------------------------------

In [ ]:
print('abc','def',sep='+')

abc+def

# Quiz3.5

รับ input 2 ตัว โดยตั้งค่า default time1 เป็น 00:00:00

## HW2

วนลูป หา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 ต่อไปนี้


1. 18:09:10 - 18:25:10
2. 13:38:39 - 23:54:39
3. 16:49:58 - 18:05:58
4. 21:49:10 - 22:24:10
5. 08:52:21 - 09:25:21
6. 06:56:26 - 07:49:26
7. 12:08:05 - 12:43:05
8. 01:48:38 - 07:18:38
9. 08:51:21 - 10:17:21
10. 17:05:17 - 18:09:17

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] :
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [ ]:
for i in 'Thanapong':
    print(i,end = '-> /\n')

T-> /
h-> /
a-> /
n-> /
a-> /
p-> /
o-> /
n-> /
g-> /

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

## วนลูปโดยสนใจทั้งสมาชิกและลำดับ

In [ ]:
index = 0
for i in 'Thanapong':
  print(f'สมาชิกคือ {i} เป็นลำดับที่ {index}')
  index +=1

สมาชิกคือ T เป็นลำดับที่ 0
สมาชิกคือ h เป็นลำดับที่ 1
สมาชิกคือ a เป็นลำดับที่ 2
สมาชิกคือ n เป็นลำดับที่ 3
สมาชิกคือ a เป็นลำดับที่ 4
สมาชิกคือ p เป็นลำดับที่ 5
สมาชิกคือ o เป็นลำดับที่ 6
สมาชิกคือ n เป็นลำดับที่ 7
สมาชิกคือ g เป็นลำดับที่ 8

In [ ]:
for i,index in enumerate('Thanapong'):
  print(f'สมาชิกคือ {i} เป็นลำดับที่ {index}')

สมาชิกคือ 0 เป็นลำดับที่ T
สมาชิกคือ 1 เป็นลำดับที่ h
สมาชิกคือ 2 เป็นลำดับที่ a
สมาชิกคือ 3 เป็นลำดับที่ n
สมาชิกคือ 4 เป็นลำดับที่ a
สมาชิกคือ 5 เป็นลำดับที่ p
สมาชิกคือ 6 เป็นลำดับที่ o
สมาชิกคือ 7 เป็นลำดับที่ n
สมาชิกคือ 8 เป็นลำดับที่ g

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [ ]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print('  ', name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
   2  x  1  =  2
   2  x  2  =  4
   2  x  3  =  6
   2  x  4  =  8
   2  x  5  =  10
   2  x  6  =  12
   2  x  7  =  14
   2  x  8  =  16
   2  x  9  =  18
   2  x  10  =  20
   2  x  11  =  22
   2  x  12  =  24
the inner loop is end
now name1 = 3
   3  x  1  =  3
   3  x  2  =  6
   3  x  3  =  9
   3  x  4  =  12
   3  x  5  =  15
   3  x  6  =  18
   3  x  7  =  21
   3  x  8  =  24
   3  x  9  =  27
   3  x  10  =  30
   3  x  11  =  33
   3  x  12  =  36
the inner loop is end
now name1 = 4
   4  x  1  =  4
   4  x  2  =  8
   4  x  3  =  12
   4  x  4  =  16
   4  x  5  =  20
   4  x  6  =  24
   4  x  7  =  28
   4  x  8  =  32
   4  x  9  =  36
   4  x  10  =  40
   4  x  11  =  44
   4  x  12  =  48
the inner loop is end

# Quiz7 วนลูปแสดงค่าตัวเลขออกมาเป็นสามเหลี่ยม ตามตัวอย่างนี้

ex:

1

2 4

3 6 9

4 8 12 16

5 10 15 20 25

In [ ]:
# กำหนดจำนวนแถวของสามเหลี่ยม
num_rows = 5 # ตามตัวอย่างที่คุณให้มา

# วนลูปสำหรับแต่ละแถว
for i in range(1, num_rows + 1):
    # i คือตัวเลขแถวปัจจุบัน (เริ่มต้นจาก 1)

    # วนลูปสำหรับแต่ละตัวเลขในแถวปัจจุบัน
    current_row_numbers = [] # ลิสต์สำหรับเก็บตัวเลขในแถวปัจจุบัน
    for j in range(1, i + 1):
        # j คือลำดับของตัวเลขในแถวนั้นๆ (เริ่มต้นจาก 1)

        # คำนวณค่าตัวเลข: ตัวเลขแถว * ลำดับในแถว
        value = i * j
        current_row_numbers.append(str(value)) # แปลงเป็นสตริงเพื่อนำไปรวมกัน

    # พิมพ์ตัวเลขในแถวออกมา โดยคั่นด้วยช่องว่าง
    print(" ".join(current_row_numbers))

In [ ]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i*j,end=' ')
    print()

## HW3

HW3 เพิ่ม loop เข้าไปใน Quiz 6 โดยวนลูป คำนวน วินาที ในโจทย์ ต่อไปนี้


  [

    ("10:00:00", "Monday", "11:30:00", 5400),  # Same day, later time
    ("11:30:00", "Monday", "10:00:00", "Monday", 5400),  # Same day, earlier time
    ("23:00:00", "Sunday", "01:00:00", , 7200),  # Cross midnight
    ("01:00:00", "Monday", "23:00:00", "Sunday", 7200),  # Cross midnight (reverse)
    ("10:00:00", "Tuesday", "11:30:00", "Thursday", 178200), # Multiple days difference
    ("11:30:00", "Thursday", "10:00:00", "Tuesday", 178200), # Multiple days difference (reverse)
    ("12:00:00", "Monday", "12:00:00", "Monday", 0),      # Same time, same day
    ("12:00:00", "Monday", "12:00:00", "Tuesday", 24*3600), # Same time, next day
    ("00:00:00", "Monday", "23:59:59", , 24*3600 - 1), # Almost 24 hours later
    ("23:59:59", "Sunday", "00:00:00", "Monday", 1),       # One second difference across midnight
  ]

In [7]:
from datetime import datetime, timedelta

def time_difference_in_seconds(time_str1, weekday1, time_str2, weekday2=None):
  """
  คำนวณความแตกต่างของเวลาในหน่วยวินาทีระหว่างสองเวลาและวันในสัปดาห์
  Args:
    time_str1: สตริงเวลาในรูปแบบ 'hh:mm:ss' สำหรับเวลาแรก
    weekday1: วันในสัปดาห์สำหรับเวลาแรก (0=วันจันทร์, 6=วันอาทิตย์)
    time_str2: สตริงเวลาในรูปแบบ 'hh:mm:ss' สำหรับเวลาที่สอง
    weekday2: วันในสัปดาห์สำหรับเวลาที่สอง (0=วันจันทร์, 6=วันอาทิตย์)
  Returns:
    จำนวนวินาทีที่แตกต่างกัน
  """
  day = {'Sunday':0,'Monday':1, 'Tuesday':2, 'Wednesday':3, 'Thursday':4, 'Friday':5, 'Saturday':6}
  seconds_per_day = 24 * 3600

  def parse_time_and_weekday(time_str, weekday):
    h, m, s = map(int, time_str.split(':'))
    total_seconds = weekday * seconds_per_day + h * 3600 + m * 60 + s
    return total_seconds

  # แก้ไข: ตรวจสอบว่า weekday2 เป็น None หรือไม่
  if weekday2 is None:
    weekday2_val = day[weekday1] # ถ้าไม่ระบุ ให้ใช้วันเดียวกับ weekday1
  else:
    weekday2_val = day[weekday2] # ถ้ามีการระบุ ก็ใช้ค่านั้นเลย

  total_seconds1 = parse_time_and_weekday(time_str1, day[weekday1])
  total_seconds2 = parse_time_and_weekday(time_str2, weekday2_val)

  return abs(total_seconds1 - total_seconds2)

  '''

  ตอนนี้คุณจะป้อนข้อมูลในรูปแบบ **Tuple** โดยเรียงลำดับดังนี้:

  `(time_str1, weekday1, time_str2, weekday2)`

  * **`time_str1`**: สตริงเวลาแรก (เช่น `"10:00:00"`)
  * **`weekday1`**: ชื่อวันแรก (เช่น `"Monday"`)
  * **`time_str2`**: สตริงเวลาที่สอง (เช่น `"11:30:00"`)
  * **`weekday2`**: **(ตัวเลือก)** ชื่อวันที่สอง (เช่น `"Thursday"`) ถ้าไม่ต้องการระบุ ให้ใส่ `None` แทน

  '''
# ข้อมูลสำหรับคำนวณในรูปแบบ List ของ Tuples
time_data = [
    ("10:00:00", "Monday", "11:30:00"), # ไม่มี weekday2
    ("11:30:00", "Monday", "10:00:00", "Monday"),
    ("23:00:00", "Sunday", "01:00:00", "Monday"),
    ("01:00:00", "Monday", "23:00:00", "Sunday"),
    ("10:00:00", "Tuesday", "11:30:00", "Thursday"),
    ("11:30:00", "Thursday", "10:00:00", "Tuesday"),
    ("12:00:00", "Monday", "12:00:00", "Monday"),
    ("12:00:00", "Monday", "12:00:00", "Tuesday"),
    ("00:00:00", "Monday", "23:59:59"),
    ("23:59:59", "Sunday", "00:00:00", "Monday"),
]

print("--- ผลการคำนวณความแตกต่างของเวลาในลูป ---")
for i, data_tuple in enumerate(time_data):
    # แกะข้อมูลออกจาก Tuple ตามลำดับ
    time1, day1, time2 = data_tuple[0], data_tuple[1], data_tuple[2]
    # ตรวจสอบว่ามี weekday2 หรือไม่ (Tuple อาจมี 3 หรือ 4 ค่า)
    weekday2 = data_tuple[3] if len(data_tuple) > 3 else None

    diff_seconds = time_difference_in_seconds(time1, day1, time2, weekday2)

    if weekday2 is None:
        print(f"[{i+1}] ความแตกต่างของเวลาระหว่าง {time1} วัน {day1} และ {time2} (วัน {day1} เดียวกัน) คือ {diff_seconds} วินาที")
    else:
        print(f"[{i+1}] ความแตกต่างของเวลาระหว่าง {time1} วัน {day1} และ {time2} วัน {weekday2} คือ {diff_seconds} วินาที")

--- ผลการคำนวณความแตกต่างของเวลาในลูป ---
[1] ความแตกต่างของเวลาระหว่าง 10:00:00 วัน Monday และ 11:30:00 (วัน Monday เดียวกัน) คือ 5400 วินาที
[2] ความแตกต่างของเวลาระหว่าง 11:30:00 วัน Monday และ 10:00:00 วัน Monday คือ 5400 วินาที
[3] ความแตกต่างของเวลาระหว่าง 23:00:00 วัน Sunday และ 01:00:00 วัน Monday คือ 7200 วินาที
[4] ความแตกต่างของเวลาระหว่าง 01:00:00 วัน Monday และ 23:00:00 วัน Sunday คือ 7200 วินาที
[5] ความแตกต่างของเวลาระหว่าง 10:00:00 วัน Tuesday และ 11:30:00 วัน Thursday คือ 178200 วินาที
[6] ความแตกต่างของเวลาระหว่าง 11:30:00 วัน Thursday และ 10:00:00 วัน Tuesday คือ 178200 วินาที
[7] ความแตกต่างของเวลาระหว่าง 12:00:00 วัน Monday และ 12:00:00 วัน Monday คือ 0 วินาที
[8] ความแตกต่างของเวลาระหว่าง 12:00:00 วัน Monday และ 12:00:00 วัน Tuesday คือ 86400 วินาที
[9] ความแตกต่างของเวลาระหว่าง 00:00:00 วัน Monday และ 23:59:59 (วัน Monday เดียวกัน) คือ 86399 วินาที
[10] ความแตกต่างของเวลาระหว่าง 23:59:59 วัน Sunday และ 00:00:00 วัน Monday คือ 1 วินาที

# กำหนดจำนวนแถวของสามเหลี่ยม
num_rows = 5 # ตามตัวอย่างที่คุณให้มา

# วนลูปสำหรับแต่ละแถว
for i in range(1, num_rows + 1):
    # i คือตัวเลขแถวปัจจุบัน (เริ่มต้นจาก 1)

    # วนลูปสำหรับแต่ละตัวเลขในแถวปัจจุบัน
    current_row_numbers = [] # ลิสต์สำหรับเก็บตัวเลขในแถวปัจจุบัน
    for j in range(1, i + 1):
        # j คือลำดับของตัวเลขในแถวนั้นๆ (เริ่มต้นจาก 1)
        
        # คำนวณค่าตัวเลข: ตัวเลขแถว * ลำดับในแถว
        value = i * j
    print(i*j ,end=' ')

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [ ]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [ ]:
list_friends = ['คุณหนูเบียร์','พ่อใหญ่เฟิร์ส','อ้ายสีหนุ่ม','จ่าหนึ่ง','บักโส']

In [ ]:
print_feelings('ปั้ส',list_friends)

ปั้ส คิดถึง คุณหนูเบียร์
ปั้ส คิดถึง พ่อใหญ่เฟิร์ส
ปั้ส คิดถึง อ้ายสีหนุ่ม
ปั้ส คิดถึง จ่าหนึ่ง
ปั้ส คิดถึง บักโส

In [ ]:
print_feelings('ปั้ส',list_friends,feeling='รัก')

ปั้ส รัก คุณหนูเบียร์
ปั้ส รัก พ่อใหญ่เฟิร์ส
ปั้ส รัก อ้ายสีหนุ่ม
ปั้ส รัก จ่าหนึ่ง
ปั้ส รัก บักโส

In [ ]:
print_feelings('เจมส์',list_friends,'รัก')

เจมส์ รัก พี่บูม
เจมส์ รัก ดายน์
เจมส์ รัก แตงโม
เจมส์ รัก ฝน
เจมส์ รัก พี่เจ็ท
เจมส์ รัก น้องแคมป์

จบ 24 มิย 67

In [ ]:
print_feelings('ปั้ส','พ่อใหญ่เฟิร์ส')

## Dictionary (Data Structure)

โครงสร้างข้อมูลที่จัดเก็บข้อมูลโดยการอ้างอิงโดย text

วงเล็บ ```{``` ```}``` Curly Brackets

In [ ]:
Ex_dict_A = {'memberA':[1,2,3],'memberB':8,'memberC':'abc'}

In [ ]:
Ex_dict_A

{'memberA': [1, 2, 3], 'memberB': 8, 'memberC': 'abc'}

In [ ]:
Ex_dict_A['memberA']

[1, 2, 3]

In [ ]:
Ex_dict_A['memberA'][1]

2

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [ ]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [ ]:
name_grade['ปนัดดา']

'A'

In [ ]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [ ]:
name_grade.values()

dict_values(['B', 'C', 'A', 'F'])

In [ ]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [ ]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

## HW2 Example

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"]]

def time_to_second(time1,time2):
    time1_list = time1.split(':')
    time2_list = time2.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    time2_sec = int(time2_list[0])*3600 + int(time2_list[1])*60 + int(time2_list[2])
    return(time2_sec - time1_sec)

for time1,time2 in time_list:
  diff_seconds = time_to_second(time1,time2)
  print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds

In [ ]:
time1 = "18:09:10"
time2 = "00:25:10"
diff_seconds = time_to_second(time1,time2)
print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 00:25:10 is -63840 seconds

# Conditional statemet คือ ประโยคเงื่อนไข

ชนิดตัวแปรที่เกี่ยวข้อ Boolean (True,False)

In [ ]:
condition_1 = True
condition_2 = False

### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

## ==, !=,>=,<=,<,> Operator ของตัวเลข

In [ ]:
def time_to_second(time1):
    time1_list = time1.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    return time1_sec

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"],["18:51:21", "00:17:21"],
    ["17:05:17", "11:09:17"],]

In [ ]:
for time1,time2 in time_list:

    if time_to_second(time1) < time_to_second(time2): #ถ้า time1 น้อยกว่า time2
        diff_seconds = time_to_second(time2) - time_to_second(time1)
    else: #ถ้า time1 ไม่น้อยกว่า time2
        diff_seconds = (time_to_second(time2)+(24*60*60)) - time_to_second(time1)

    print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds
Time difference between 18:51:21 - 00:17:21 is 19560 seconds
Time difference between 17:05:17 - 11:09:17 is 65040 seconds

# HW3 เพิ่ม ฟังก์ชั่นแปลงวินาทีกลับมาเป็น ชั่วโมง นาที วินาที โดยไม่ใช่ฟังก์ชั่นช่วยเหลืออื่นๆของ python (~~import~~) ถ้าส่วนของ ชั่วโมง นาที วินาที เป็นศูนย์ ไม่ต้องแสดง

# HW 4
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

## ```&```, ```|```, ```in```, ```is```   :  Operator อื่นๆ

In [ ]:
if (1>0) & (0>-1):
    print(True & True)

True

In [ ]:
if 'T' in 'Thanapong':
    print('T in Thanapong')

T in Thanapong

In [ ]:
def return_nothing(x):
    x = x+1

In [ ]:
a = return_nothing(5)

In [ ]:
if a is None:
    print('x is null')

x is null

# Finish